DATABASE_URL=libsql://venezuelajuntos-[org].turso.io
TURSO_AUTH_TOKEN=
NEXT_PUBLIC_MAPBOX_TOKEN=
R2_ENDPOINT=https://78a499fbb0a01fdbb065ff692ce22d00.r2.cloudflarestorage.com
R2_BUCKET=venezuelajuntos
R2_PUBLIC_BASE_URL=https://78a499fbb0a01fdbb065ff692ce22d00.r2.cloudflarestorage.com/venezuelajuntos
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://venezuelajuntos.online
ADMIN_BASIC_USER=admin
ADMIN_BASIC_PASSWORD=
COOLIFY_WEBHOOK_URL=
